name: Release
on:
  push:
    branches:
      - main

concurrency:
  group: release
  cancel-in-progress: false

permissions:
  actions: write
  pull-requests: write
  statuses: write
  contents: write
  checks: write

jobs:
  release_drafter:
    name: Create
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        id: draft_release
        with:
          config-name: release-drafter.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Release
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: gh release edit "${{ steps.draft_release.outputs.tag_name }}" --draft=false --latest
